body{
	padding: 2.5%;
	background-color: #D0E2E9;
}

p {
	text-align: justify;
}

.actHike{
	background-color: #fed8a8;
}

.actClimb{
	background-color: #aeeeaf;
}

.actCrag{
	background-color: #ccb3f8;
}

.actSki{
	background-color: white;
}

.caption{
	font-weight: lighter;
	padding-bottom: 10px;
	font-size: 90%;
}

.statsTitle{
	font-weight: bold;
}

.statsPanel{
	max-width: 600px;
}

.tab1{
	padding-left: 11%;
}

.listTab1{
	padding-left: 12%;
}

.tab2{
	padding-left: 12%;
}

.listTab2{
	padding-left: 14%;
}

.modal-pic{
	max-height: 475px;
	max-width: 80%;
}

.pic-well{
	border: 1px solid darkgray;
}

.statusLine{
	margin-left: 50px;
}

.statusYear{
	float: left;
	margin-left: 20px;
}

.statusBar{
	float: left;
	width: 100px;
	border: solid black 1px;
	background-color: #F5B7B1;
	margin-left: 10px;
}

.statusComplete{
	margin-left: 30px;
}

.slide-title{
    font-size: 175%;
	font-weight: bold;
	text-shadow: 2px 2px #FFFFFF;
}

.slidePicture{
	margin: auto;
}

#pageTitle{
	font-size: 175%;
	padding: 10px;
	color: #3673b3;
}

#description{
	padding-top: 20px;
	width: 100%;
	margin: auto;
}

#siteTitle{
	color: #000000;
	text-shadow: 2px 2px #FFFFFF;
	margin-left: 5px;
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 200%;
	font-weight: bold;
	line-height: 130%;
}

#siteSlogan{
	color: #2a9554;
	font-weight: bold;
	padding-right: 20px;
}

